<html>
<head>
    <title>{{title}}: Hello</title>
    <link href='/css/vanilla.css' rel='stylesheet'/>
    <link href='/css/sass.css' rel='stylesheet'/>
    <link href='/css/scss.css' rel='stylesheet'/>
    <link href='/css/less.css' rel='stylesheet'/>
    <link href='/css/less2.css' rel='stylesheet'/>
</head>
<body>

    <div class="container">


        <h2>This is is very useful</h2>

        

    <h1> Hello, Express </h1>

    <section>
        <header>
        <h2>CSS</h2>
        </header>
        <content>
            <p class='hide vanilla-css'> Hello vanilla-css</p>
            <p class='hide sass'> Hello Sass </p>
            <p class='hide scss'> Hello Scss </p>
            <p class='hide less'> Hello Less </p>
        </content>
    </section>

    <section>
        <header>
            <h2>JS</h2>
        </header>
        <content>
            <p class='hide vanilla'> Hello vanilla-js</p>
            <p class='hide typescript'> Hello Typescript </p>
            <p class='hide coffee'> Hello Coffee </p>
            <div class="react"></div>
            <p class='hide es6'> Hello ES6</p>
        </content>
    </section>

    <section>
        <header>
            <h2>BUNDLE</h2>
        </header>
        <content>
            <p class='hide browserify1 lodash'> Hello Browserify</p>
            <p class='hide browserify2 handlebars'> Hello Browserify2</p>
            <p class='hide browserify3 art_template'> Hello Browserify3</p>
            <p class='hide browserify4 swig'> Hello Browserify3</p>
            <div id='browserify' > Hello Browserify3</div>
            <p class='hide webpack1'> Hello webpack</p>
            <div id='webpack' > Hello webpack</div>
        </content>
    </section>
    </div>

    <script src='/js/vanilla.js'></script>
    <script src='/js/coffee.js'></script>
    <script src='/js/typescript.js'></script>
    <script src='/js/es6.js'></script>

    <script src="/js/lib/react.js"></script>
    <script src="/js/lib/react-dom.js"></script>
    <script src='/js/react.js'></script>

    <!-- BUNDLER -->
    <script src='/js/main.js'></script>
    <script src='/js/webpack.js'></script>

</body>
</html>
